*, body{
    font-family: Barlow;
    margin: 0px;
    padding: 0px;
    background-color: #e7eceff1;
    color: #252422;
}
h1{
    display: inline;
    font-weight: 500;
    font-size: 4.675rem;

}
img{
    margin-left: 20px;
    width: 3rem;
    height: auto;
}

::placeholder{
    text-align: center;
    
}

.container{
    text-align: center;
    width: 100%;
    height: auto;       
}

.banner{
    margin-top: 0.6rem;
}


.option-Div{
    margin-top: 3rem;
}
.options{
    margin-top: 0.9rem;
}


#input{
    width: 20rem;
    height: 1.7625rem;
    border-radius: 15px;
    text-align: center;
    border-color: #252422;
    border-style: solid;
    font-size: 1.2em;
    caret-color: transparent;
}

#list{
    margin-top: 1.5rem;
}

#clear-all{
    width: 5rem;
    height: 1.8rem;
    border-radius: 15px;
    text-align: center;
    border-color: #252422;
    border-style: solid;
    font-size: 0.9em;

    transition: 0.4s;
}

#clear-all:hover{
    transition: 0.4s;
    background-color: gray;
}
/* Js adding class */

.paragraph{
    margin-bottom: 0.6rem;

    font-size: 2.6rem;
}

